.movie-list {
  display: flex;
  flex-direction: column;
}

.movie-list__header {
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right bottom, #77ff00, black);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s;
  margin: 20px 0;
}
.movie-list__header:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
}
.movie-list__content {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  opacity: 1;
  transition: all 1s ease-out;
}

.movie-list__content-hidden {
  opacity: 0;
}

.movie-list__content-list {
  column-count: 2;
  column-gap: 16px;
}
